.left{
    float: left;
}
.img{
    border-radius: 50%;
    border: 2px solid black;
    width: 20vh;
    margin-right: 8vh;
   
}
.add{
    font-size: large;
    line-height: 5vh;
}
body{
    background-color: aliceblue;
}
.right{
    float: right;
    margin: 2vh 10vh;
}
.mid{
    text-align: center;
   font-weight: bold;
   color: brown;
   font-size: 50px;
}
h2{
    color: rgb(54, 52, 52);
    text-shadow: 5px 5px 5px rgb(150, 146, 146);
}
li , p{
    color: blue;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;

}
h3{
    text-shadow: 5px 5px 5px rgb(197, 191, 191);
    font-size: large;
    font-family: 'Times New Roman', Times, ser
}
